@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

.legend p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

blockquote[epub|type~="z3998:song"]{ /* workaround because we can't select xml:lang right now */
	font-style: italic;
}
